body {
    background-color:aquamarine;
    color:blue;
  }
  
  form-layout {
    margin-top: 20px;
    margin-left: 50px;
  }
  
  description {
    font-family:'Times New Roman', Times, serif;
  }
  
  .gender {
    display: inline-block;
    margin: 3px;
  }
  
  .buttonstyle {
    display: flex;
    flex-direction: row;
    
  }
  
  .innerbutton {
    margin: 5px;
  }
  
  table-styles{
    color:white !important;
  }
table{
    background-color:cornsilk;
  }
th{
    background-color:cornflowerblue;
}